@import './font.scss';
@import './editBorder.scss';
@import './editswiper.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%; 
    font-family: 'Aileron', sans-serif;
    background-color: #51514F;
}

