.inner {
    background-color: black;
    .page{
        background-color: #f8f9fa;    

    }
    .slide {
        position: fixed;
        z-index: 3;
        top:0;
        left:0;
        background-color: #f8f9fa;
        width: 100vw;
        height: 100vh;
        }
    }

    
